<app-header />
<div class="main-div grid grid-nogutter surface-section text-800 fade-in" id="content">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
    <section>
      <span class="block text-6xl font-bold mb-6 section-padding-mz">Health Bridge</span>
      <div class="text-5xl text-primary font-bold mb-5 section-padding-md">We care about you</div>
      <p class="mt-0 mb-4 text-700 line-height-3">
        If you want to enjoy all the advantages of Health Bridge, go to your medical center and request an account in your name. In a couple of clicks you can enjoy the facilities that Health Bridge provides you. The bridge that unites you and your well-being.
      </p>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img src="assets/index-image.jpg" alt="Image" class="img md:ml-auto block md:h-full">
  </div>
</div>
<router-outlet />
<app-user-footer />
